<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.Name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.Price %>
  </p>

</div>
